.letter { 
	position: relative; 
	background-color: #f1f1f1;
	display: inline-block;
	width: 70px;
	height: 100px;
}

.line { 
	width: 2px; 
	position: absolute;
	background-color: #000;
	z-index: 0; }

.a-lefttop{
	height:40px;
	top:0px;
	left:10px;
	transform: rotate(30deg);
}

.a-righttop {
	height:40px;
	left:30px;
	transform: rotate(-30deg);
}

.a-leftbtm {
	height:40px;
	left:0px;
	top: 0px;
}

.a-rightbtm {
	height:40px;
	left:40px;
}

.a-mid{
	width: 40px;
	height: 2px;
}


.b-leftvert {
	height:40px;
	left: 20px;
	top: 37px;
}

.b-topleftvert {
	height: 40px;
	transform: rotate(-30deg);
	left: 8px;
	top: 0px;
}

.b-rightvert {
	height:50px;
	left:48px;
	top:30px;
}
.b-highhoriz {
	height: 2px;
	width: 30px;
	left: 20px;
	top: 32px;
	transform: rotate(-20deg);
}

.b-lowhoriz {
	height: 2px;
	width: 30px;
	top: 77px;
	left: 20px;
	transform: rotate(10deg); 
}

.c-leftvert {
	height:25px;
	left: 37px;
	top: 55px;
	transform: rotate(-10deg)
}

.c-lefttopvert {
	height: 55px;
	left: 40px;
	transform: rotate(10deg)
}

.c-highhoriz {
	height: 2px;
	width: 20px;
	left: 45px;
	top: 4px;
	transform: rotate(23deg);
}

.c-lowhoriz {
	height: 2px;
	width: 33px;
	top: 78px;
	left: 38px;
	transform: rotate(4deg)
}

.d-leftvert {
	height: 80px;
	left: 17px;
	top: 8px;
}

.d-righttopvert {
	height: 10px;
	left: 45px;
	top: -1px;
	transform: rotate(15deg);
}

.d-rightmidvert {
	height: 20px;
	left: 48px;
	transform: rotate(-23deg);
	top:7px;
}

.d-rightbtmvert {
	height: 65px;
	left: 42px;
	top: 25px;
	transform: rotate(19deg);
}

.d-tophoriz {
	height: 30px;
	left: 31px;
	top: -10px;
	transform: rotate(75deg);
}

.d-btm {
	height: 17px;
	left: 24px;
	top: 80px;
	transform: rotate(-85deg)
}

.e-topvert {
	height: 60px;
	left: 10px;
	transform: rotate(20deg);
}

.e-bottomvert {
	height: 40px;
	top:  57px;
	left: 7px;
	transform: rotate(-20deg);
}


.e-lowbarhoriz {
	width: 40px;
	height:2px;
	top: 85px;
	left: 11px;
	transform: rotate(-35deg);
}

.e-midbarhoriz {
	width: 40px;
	height:2px;
	top: 51px;
	left: 0px;
	transform: rotate(-15deg);
}

.e-highbarhoriz {
	height: 30px;
	left: 35px;
	top: -9px;
	transform: rotate(-75deg);
}


.f-tophoriz {
	top: 10px;
	height: 2px;
	width: 25px;
	left: 5px;
	transform: rotate(-45deg);
}

.f-bottomhoriz {
	width: 50px;
	height:2px;
	left: 3px;
	top: 55px;
	transform: rotate(-10deg);
}

.f-vert {
	height: 70px;
	left: 10px;
	transform: rotate(-5deg);
	top: 20px;
}

.gcape {
	position: absolute;
	top: 211px;
	left: 200px;
	transform: rotate(-7deg);
	z-index: 10;
}
.g-lefttopvert {
	top: 0px;
	height: 70px;
	left: px;
	transform: rotate(2deg);
}

.g-leftbtmvert {
	top: 65px;
	height: 40px;
	left: 12px;
	transform: rotate(-45deg);

}

.g-rightvert {
	top: 58px;
	height: 40px;
	left: 26px;	
}

.g-tophoriz {
	top:1px;
	height: 2px;
	width: 15px;
	left: 5px;
	transform: rotate(-13deg);
}

.g-stemhoriz {
	top: 53px;
	height: 2px;
	width: 35px;
	left: 26px;
	transform: rotate(-15deg);
}


.h-lefttop {
	top: 0px;
	height: 25px;
	left: 12px;
	transform: rotate(20deg);
}

.h-leftmid {
	top: 22px;
	height: 50px;
	left: 9px;

}

.h-leftbtm {
	top: 70px;
	height: 28px;
	left: 7px;
	transform: rotate(10deg);

}

.h-righttop {
	top: 52px;
	height: 25px;
	left: 30px;
	transform: rotate(-10deg);

}

.h-rightmid {
	top: 40px;
	height: 20px;
	left:  18px;
	transform: rotate(-70deg);

}

.h-rightbtm {
	top:75px;
	height: 25px;
	left: 33px;
	transform: rotate(-3deg);

}

.i-only {
	top: 15px;
	height: 70px;
	left: 20px;
}

.j-topvert {
	top: 15px;
	height: 65px;
	left: 55px;
	transform: rotate(-5deg)
}

.j-rightlow {
	top: 75px;
	height: 25px;
	left: 48px;
	transform: rotate(50deg);
}

.j-leftlow {
	top: 75px;
	height: 20px;
	left: 32px;
	transform: rotate(-40deg);
}

.j-tophoriz {
	top: -7px;
	height: 40px;
	left: 34px;
	transform: rotate(-80deg)
}

.k-left {
	top: 20px;
	left: 5px;
	height: 60px;
}

.k-righttop {
	top: 2px;
	left: 15px;
	height: 50px;
	transform: rotate(20deg);
}

.k-rightmid {
	top: 48px;
	left: 14px;
	height: 30px;
	transform: rotate(-30deg);
}

.k-rightbtm {
	top: 75px;
	left: 23px;
	height: 23px;
	transform: rotate(-10deg);
}


.l-long {
	top: 2px;
	height: 80px;
	left: 8px;
	transform: rotate(-5deg);
}

.l-short {
	top: 83px;
	height: 2px;
	width: 25px;
	left: 12px;
	transform: rotate(10deg);
}

.m { 
	position: absolute;
top: 368px;
left: 10px;
z-index: 10;
transform: rotate(80deg);
}

.m-outerlefttop {
	top: 50px;
	height: 45px;
	left: 5px; 
}

.m-outerleftbtm {
	top: 11px;
	height: 40px;
	left: 10px;
	transform: rotate(15deg);
}

.m-innerleft {
	top: 10px;
	height: 60px;
	left: 23px;
	transform: rotate(-15deg);
}

.m-innerrighttop {
	top: 7px;
	height: 35px;
	left: 39px;
	transform: rotate(20deg);
	 
}

.m-innerrightbtm {
	top: 40px;
	height: 30px;
	left: 33px;
	transform: rotate(5deg);
}

.m-outerright {
	top: 6px;
	height: 85px;
	left: 49px;
	transform:rotate(-5deg);
}

.n {
	position: absolute;
	top: 412px;
	left: 259px;
	transform: rotate(-18deg);
	z-index: 10;
}

.n-left {
	top: 4px;
	height: 70px;
	left: 21px; 
}

.n-mid {
	top: 23px;
	height: 70px;
	left: 35px;
	transform: rotate(-25deg);
}

.n-right {
	top: 4px;
	height: 90px;
	left: 50px; 
	transform: rotate (15deg);
}


.o-lefttop {
	top: 13px;
	height: 40px;
	left: 20px;
	transform: rotate(25deg);
}

.o-leftbottom {
	top: 47px;
	height: 40px;
	left: 20px;
	transform: rotate(-25deg);
}

.o-righttop {
	top: 13px;
	height: 40px;
	left: 37px;
	transform: rotate(-25deg);
}

.o-rightbottom {
	top: 48px;
	height: 40px;
	left: 37px;
	transform: rotate(25deg);

}

.p-lefttopvert {
	top: 7px;
	height: 40px;
	left: 2px;
	transform: rotate(-20deg);
}

.p-lefttopvert {
	top: 10px;
	height: 40px;
	left: 2px;
	transform: rotate(-10deg);
}

.p-leftbtmvert {
	top: 47px;
	height: 50px;
	left: 5px;
}

.p-rightvert {
	top: 5px;
	height: 47px;
	left: 35px;
	transform: rotate(-10deg);
}

.p-bottom {
	top: 7px;
	width: 34px;
	height: 2px;
	left: px;
	transform: rotate(-10deg);
}

.p-top {
	top: 50px;
	width: 35px;
	height: 2px;
	left: 6px;
	transform: rotate(5deg);
}

.q-left {
	top: 150px;
	height: 70px;
	left: 4px;
	transform: rotate(-10deg);
}

.q-right {
	top: 164px;
	height: 40px;
	left: 0px;
}

.q-top {
	top: 116px;
	height: 2px;
	width: 28px;
	left: 2px;
	transform: rotate(-30deg);
}

.q-bottom {
	top: 165px;
	height: 2px;
	width: 34px;
	left: 0px;
	transform: rotate(10deg);
}

.r-lefttopvert {
	top: 3px;
	height: 40px;
	left: 15px;
	transform: rotate(-5deg);
}

.r-leftbtmvert {
	top: 42px;
	height: 50px;
	left: 10px;
	transform: rotate(15deg);
}

.r-rightmidvert {
	top: -18px;
	height: 40px;
	left: 33px;
	transform: rotate(85deg);
}

.r-righttopvert {
	top: -1px;
	height: 49px;
	left: 56px;
	transform: rotate(-5deg);
}

.r-rightbtmvert {
	top: 25px;
	height: 40px;
	left: 37px;
	transform: rotate(-85deg);
}

.r-tophoriz {
	top: 40px;
	height: 20px;
	left: 25px;
	transform: rotate(-55deg);
}

.r-btmhoriz {
	top: 54px;
	height: 40px;
	left: 40px;
	transform: rotate(-20deg);
}

.t-btmvert {
	top: -15px;
	height: 50px;
	left: 40px;
	transform: rotate(-85deg);
}
.t-lefthoriz {
	top: 1px;
	height: 15px;
	left:8px;
	transform: rotate(85deg);
}

.t-righthoriz {
	top: 9px;
	height: 80px;
	left: 15px;
}

.u-topleft {
	top: 96px;
	height: 50px;
	left: 7px;
	transform: rotate(-15deg);
}

.u-topright {
	top:159px;
	height: 50px;
	left: 0px;
	transform: rotate(15deg);
}

.u-bottomleft {
	top: 100px;
	height: 50px;
	left: 0px;
	transform: rotate(-40deg);
}

.u-bottomright {
	top: 100px;
	height: 50px;
	left: 4px;
	transform: rotate(40deg);
}
.v-left {
	top: 100px;
	height: 50px;
	left: 4px;
	transform: rotate(40deg);
}

.v-right {
	top: 100px;
	height: 50px;
	left: 4px;
	transform: rotate(-40deg);
}

.circ { 
	border-radius:50%;
	width: 6px;
	height: 6px; 
	position: absolute;
	background-color: #58D3F7;
	z-index: 0;
}

.ca-one   { left: 18px;}
.ca-two   { top: 38px; left: 38px;}
.ca-three { top: 38px; left: -2px }
.ca-four  { top: 78px; left: -2px;}
.ca-five  { top: 78px; left: 38px;}

.cb-one   { left: -4px;}
.cb-two   { top: 34px; left: 17px;}
.cb-three { top: 74px; left: 18px;}
.cb-four  { top: 25px; left: 45px;}
.cb-five  { top: 78px; left: 45px;}

.cc-one   { left: 43px;}
.cc-two   { top: 6px;  left: 61px;}
.cc-three { top: 53px; left: 33px;}
.cc-four  { top: 77px; left: 67px;}
.cc-five  { top: 76px; left: 37px;}

.cd-one   { top: -5px;  left: 41px;}
.cd-two   { top: 6px;   left: 42px;}
.cd-three { top: 84px;  left: 15px;}
.cd-four  { top: 86px;  left: 29px;}
.cd-five  { top: 24px;  left: 50px;}
.cd-six   { top: 0px;   left: 43px;}

.ce-one   { top: 6px;  left: 44px;}
.ce-two   { top: 0px;  left: 18px;}
.ce-three { top: 44px; left: 37px;}
.ce-four  { top: 53px; left: 0px;}
.ce-five  { top: 93px; left: 13px;}
.ce-six   { top: 71px; left: 45px;}

.cf-one   { top: 2px;  	left: 21px;}
.cf-two   { top: 18px;   left: 5px;}
.cf-three { top: 55px;   left: 8px;}
.cf-four  { top: 49px;   left: 50px;}
.cf-five  { top: 56px;   left: 0px;}
.cf-six   { top: 86px;   left: 11px;}

.cg-one   { top: 2px;    left: 2px;}
.cg-two   { top: 68px;   left: -3px;}
.cg-three { top: 95px;   left: 24px;}
.cg-four  { top: 56px;   left: 24px;}
.cg-five  { top: -1px;   left: 15px;}
.cg-six   { top: 46px;   left: 58px;}

.ch-one   { top: -1px;  left: 14px;}
.ch-two   { top: 18px;  left: 7px;}
.ch-three { top: 43px;   left: 7px;}
.ch-four  { top: 67px;   left: 7px;}
.ch-five  { top: 93px;   left: 3px;}
.ch-six   { top: 50px;   left: 26px;}
.ch-seven { top: 73px;   left: 30px;}
.ch-eight { top: 93px;   left: 31px;}

.ci-one   { top: 15px;   left: 18px;}
.ci-two   { top: 80px;  left: 18px;}

.cj-one   { top: 7px;   left: 13px;}
.cj-two   { top: 13px;   left: 50px;}
.cj-three { top: 76px;   left: 55px;}
.cj-four  { top: 91px;  left: 38px;}
.cj-five  { top: 76px;  left: 24px;}

.ck-one   { top: 17px;  left: 3px;}
.ck-two   { top: 47px;  left: 4px;}
.ck-three { top: 76px;  left: 3px;}
.ck-four  { top: 2px;  	left: 21px;}
.ck-five  { top: 72px;  left: 19px;}
.ck-six   { top: 93px;   left: 22px;}

.cl-one   { top: 2px;   left: 3px;}
.cl-two   { top: 78px;   left: 10px;}
.cl-three { top: 83px;  left: 34px;}
.cl-four  { top: 45px;  left: 7px;}

.cm-one   { top: 8px;   left: 13px;}
.cm-two   { top: 48px;  left: 3px;}
.cm-three { top: 90px;  left: 3px;}
.cm-four  { top: 65px;  left: 29px;}
.cm-five  { top: 5px;   left: 43px;}
.cm-six   { top: 86px;  left: 51px;}
.cm-seven { top: 36px;  left: 32px;}

.cn-one   { top: 26px;   left: 19px;}
.cn-two   { top: 2px;  left: 19px;}
.cn-three { top: 70px;  left: 19px;}
.cn-four  { top: 88px;   left: 47px;}
.cn-five  { top: 2px;   left: 48px ;}

.co-one   { top: 11px;  left: 26px;}
.co-two   { top: 47px;  left: 43px;}
.co-three { top: 47px;  left: 10px;}
.co-four  { top: 82px;  left: 26px;}

.cp-one   { top: 7px;  left: -4px;}
.cp-two   { top: 45px;  left: 4px;}
.cp-three { top: 2px;  left: 30px;}
.cp-four  { top: 48px;  left: 37px;}
.cp-five  { top: 92px;  left: 3px;}

.cq-one   { top: 0px;  left: 0px;}
.cq-two   { top: 8px;  left: 0px;}
.cq-three { top: 0px;  left: 3px;}
.cq-four  { top: 3px;  left: 8px;}
.cq-five  { top: 2px;  left: 9px;}

.cr-one   { top: 7px;  left: 4px;}
.cr-two   { top: 0px;  left: 0px;}
.cr-three { top: 7px;  left: 0px;}
.cr-four  { top: 9px;  left: 5px;}
.cr-five  { top: 7px;  left: 3px;}
.cr-six   { top: 0px;  left: 1px;}
.cr-seven { top: 7px;  left: 671px;}

.ct-one   { top: 6px;  left: 0px;}
.ct-two   { top: 85px;  left: 13px;}
.ct-three { top: 5px;  left: 13px;}
.ct-four  { top: 10px;  left: 63px;}
.ct-five  { top: 40px;  left: 13px;}

.cu-one   { top: 9px;  left: 125px;}
.cu-two   { top: 4px;  left: 112px;}
.cu-three { top: 9px;  left: 165px;}
.cu-four  { top: 5px;  left: 178px;}
.cu-five  { top: 5px;  left: 145px;}

.cv-one   { top: 9px;  left: 125px;}
.cv-two   { top: 4px;  left: 112px;}
.cv-three { top: 9px;  left: 165px;}