body { 
	  display: block;
	}

.container {
  width: 100%;
  height: 100%;
  background: none;
  position: relative;
  border: px solid black;
  margin-left: 20px;
  margin-top: 20px;

}

.rect {
	width: 130px;
	height: 582px;
	background-color: #000000;
	right: 455px;
	position: absolute;
	bottom: 0px;
	color:white;
}

.image {
	display: none;
	position: fixed;
	top: 15px;
	left: 850px;
}

.hotspot {
	font-family: "Avenir";
	font-size: 14px;
	color: #000000;
	left: 20px;
	position: fixed;
	bottom: 170px;

}

.hotspot:hover ~ .image { 
	display: inline;
}


.line { 
	width: 2px;
	height: 300px;
	background-color: #000000;
	position: fixed;
	right: 840px;
	bottom: 300px;
}


.line2 { 
	width: 407px;
	height: 2px;
	background-color: #000000;
	left: 0px;
	position: fixed;
	bottom: 300px;
}

.line3 {
	width: 399px;
	height: 2px;
	background-color: #000000;
	left: 408px;
	bottom: 598px;
	position: fixed;

}

.line4 {
	width: 2px;
	height: 455px;
	background-color: #000000;
	left: 805px;
	bottom: 145px;
	position: fixed;
}

.line5 {
	width: 1px;
	height: 455px;
	background-color: #000000;
	left: 505px;
	top: 0px;
	position: fixed;
}

.line6 {
	width: 120px;
	height: 1px;
	background-color: #000000;
	left: 385px;
	bottom: 227px;
	position: fixed;

}

.triangle {
	width: 80px;
	height: 0px;
	border: 15px solid transparent;
	border-right: 20px solid #000;
	position: fixed;
	bottom: 212px;
	left: 275px;
}

.whiteline {
	width: 40px;
	height: 2px;
	background-color: #FFFFFF;
	left: 755px;
	bottom: 145px;
	position: fixed;
}

.whiteline2 {
	width: 2px;
	height: 60px;
	background-color: #FFFFFF;
	left: 755px;
	bottom: 87px;
	position: fixed;
}

.shortline {
	width: 15px;
	height: 2px;
	background-color: #000000;
	left: 790px;
	bottom: 145px;
	position: fixed;

}
.small-round {
	width:25%;
	height: 100px;
}

.small-round-circle {
	width: 42px;
	height: 42px;
    border-radius: 42px;
    overflow:hidden;
    background-color: white;
    position: fixed;
    bottom: 50px;
    left: 735px;
}

.small-round-circle:hover {
	background:#bdc4d3;
}

.small-round a {
    display:block;
	float:left;
	width:100%;
	line-height:1em;
	margin-top:-0.5em;
}	
.arrow-left {
	width: 25%;
}

.arrow-left-button {
	width: 0; 
	height: 0; 
	border: 30px solid transparent;
	border-right: 20px solid #2f6db8;
	position: fixed;
	bottom: 10px;
	left: 10px;
}

.arrow-left-button:hover {
	border-right: 20px solid #4f82cc;
}

.arrow-left a {
    display:block;
	float:left;
	width:100%;
	line-height:1em;
	margin-top:-0.5em;
}	

.round-button {
	width:25%;
}

.round-button-circle {
	width: 160px;
	height: 160px;
    border-radius: 160px;
    overflow:hidden;
    background-color: black;
    position: fixed;
    top: 20px;
    left: 20px;
}



.round-button-circle:hover {
	background:#1F1F1F;
}

.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
}	


