body { 
	  display: block;
	}

.container {
  width: 100%;
  height: 100%;
  background: none;
  position: relative;
  border: px solid black;
  margin-left: 20px;
  margin-top: 20px;

}

.rect {
	width: 450px;
	height: 130px;
	background-color: #000000;
	position: fixed;
	bottom: 180px;
	left: 305px;
}

.image {
	display: none;
	position: fixed;
	top: 60px;
	left: 510px;
}

.hotspot {
	font-family: "Avenir";
	font-size: 14px;
	color: #FFFFFF;
	left: 320px;
	position: fixed;
	bottom: 190px;

}

.hotspot:hover ~ .image { 
	display: inline;
}

.line1 {
	width: 2px;
	height: 522px;
	background-color: #000000;
	position: fixed;
	top: 0px;
	left: 770px;
}

.line2 {
	width: 2px;
	height: 172px;
	background-color: #000000;
	position: fixed;
	bottom: 160px;
	left: 290px;
}

.line3 {
	width: 480px;
	height: 2px;
	background-color: #000000;
	position: absolute;
	bottom: 160px;
	left: 290px;
}

.line4 {
	width: 480px;
	height: 2px;
	background-color: #000000;
	position: absolute;
	bottom: 330px;
	left: 290px;
}

.round-button {
	width:25%;
}

.round-button-circle {
	width: 160px;
	height: 160px;
    border-radius: 160px;
    overflow:hidden;
    
    background-color: black;
}

.round-button-circle:hover {
	background:#1F1F1F;
}


.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
}	

.back-button {
	width:25%;
	height: 100px;
}

.back-button-circle {
	width: 42px;
	height: 42px;
    border-radius: 42px;
    overflow:hidden;
    background-color: #2f6db8;
    position: fixed;
    bottom: 22px;
    left: 20px;
}

.back-button-circle:hover {
	background:#4f82cc;
}

.back-button a {
    display:block;
	float:left;
	width:100%;
	line-height:1em;
	margin-top:-0.5em;
}	



